@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&display=swap');
* {
  background-color: #000;
  color: #fff;
}
body {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  filter: grayscale(1);
  font-family: sans-serif;
}
.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
h1, h2, h3{
  font-family: 'Playfair Display', serif;
}
h1{
  font-size: 60px;
  margin: 0;
}
img,
embed {
  width: 100%;
}
embed {
  aspect-ratio: 16/9;
}
hr {
  border: 0.01px solid #ffffff25;
}
