*{
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
body{
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
h1{
    font-size: 90px;
}
p{
    font-size: 85px;
}
hr{
    width: 100%;
    border: solid 1px #fff;
}
@media (max-width: 600px) {
    h1{
        font-size: 70px;
    }
    p{
        font-size: 65px;
    }
}