body {
  padding: 50px;
  max-width: 500px;
  margin: auto;
  font-family: sans-serif;
  filter: grayscale(1);
}
a {
  color: #000000;
}
h1 {
  font-weight: bold;
  font-size: 60px;
}
img,
embed {
  width: 100%;
}
embed {
  aspect-ratio: 16/9;
}
hr {
  border: 0.01px solid #00000025;
}
